# filepath: .dockerignore

.git
.github
.gitignore
node_modules
.env
.env.example
*.log
logs/
.DS_Store
.vscode
.idea
coverage
dist  # Para desarrollo (se genera dentro del container)
secrets/
secrets/*.txt
secrets/*.key
secrets/*.pem